
.DS_Store
.vscode/
.idea/
*.swp
*.log

**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
mern-project/client/build/
mern-project/server/.env

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
python-project/.venv/
python-project/env/
python-project/venv/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

.env
*.pem
*.key